  /*
  .addToCartBttn {
    background-color: transparent;
    width: 50%;
    height: 5.5rem;
    border: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
  }
   */

/* shopCover */

.shopCover img{
  max-width: 100%;
  margin: 0 auto;
  object-fit: cover;
}

.shopCover .shopTitle {
  /* margin-top: 20px;
  text-align: center; */
  font-size: 40px;
  position: absolute;
  top: 8%;
  padding: 20px;
}

/* individual product shop tile */

.product {
    outline: 2px solid rgba(0, 0, 0, .205);
    outline-offset: -2px;
    transition: all 0.15s ease-in;
    cursor: pointer;
}

.product:hover {
    outline: 2px solid rgba(0, 0, 0, .7);
}

.product-header img {
    width: 100%;
}

.product-details {
    font-size: 1.7rem;
    padding: 1rem;
}

.item-price {
    font-weight: 600;
    font-size: 2.2rem;
    margin-top: 1.4rem;
}

/* separator */

.solid {
  border-top: 3px solid #bbb;
}

/* shop grid */

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    padding-top: 2rem;
}

/* page width transitions */

@media (max-width:750px) {
  .products {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
  }
}

@media (max-width:600px) {
  .products {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
  }
}

@media (max-width:430px) {
  .products {
      grid-template-columns: 1fr;
  }
}